.header-img, .post-header-img {
    display: block;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;

    width:rem(750,$text-bp-sm);

    @include bp-medium {
        background-size: 100% auto;
        width:rem(1270,$text-bp-md);
    }

    @include bp-large {
        background-size: 100% auto;
        width:rem(1600,$text-bp-lg);
    }
}
.header-img {
    height:rem(375,$text-bp-lg);

    @include bp-medium {
        height:rem(480,$text-bp-lg);
    }

    @include bp-large {
        height:rem(600,$text-bp-lg);
    }
    
}

.page-header {
    display: inline-block;
    background-color: #fff;
    color: #000;
    text-align: left;
    width:100%;
     @include bp-medium {
        
      }

    @include bp-large {
        
    }
}

.page-info {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: #000;
    @include bp-large {
    }
}

.page-poster {
    width: rem(200,$text-bp-sm);
    margin: rem(30,$text-bp-sm) rem(30,$text-bp-sm) rem(10,$text-bp-sm) rem(30,$text-bp-sm);

    @include bp-medium {
        width: rem(150,$text-bp-md);
        margin: rem(30,$text-bp-md) rem(30,$text-bp-md) rem(10,$text-bp-md) rem(30,$text-bp-md);
    }

    @include bp-large {
        width: rem(150,$text-bp-lg);
        margin: rem(30,$text-bp-lg) rem(50,$text-bp-lg) rem(10,$text-bp-lg) rem(50,$text-bp-lg);
    } 

}

.page-links {
    text-align: center;
    margin-bottom: rem(25,$text-bp-sm);

    @include bp-medium {
        margin-bottom: rem(25,$text-bp-md);
    }

    @include bp-large {
        margin-bottom: rem(25,$text-bp-lg);
    }
    a {
        display: inline-block;
        vertical-align: middle;
        font-family: $body-font;
        font-weight: 700;
        background-color: #fff;
        color: #000;
        text-align: center;
        font-size: rem(28,$text-bp-sm);
        line-height: rem(36,$text-bp-sm);
        padding: rem(10,$text-bp-sm);
        margin: rem(5,$text-bp-sm) rem(10,$text-bp-sm);
        width: rem(180,$text-bp-sm);

        @include bp-medium {
            font-size: rem(14,$text-bp-md);
            line-height: rem(18,$text-bp-md);
            padding: rem(15,$text-bp-md);
            margin: rem(5,$text-bp-md) rem(10,$text-bp-md);
            width: rem(130,$text-bp-md);
        }

        @include bp-large {
            font-size: rem(21,$text-bp-lg);
            line-height: rem(28,$text-bp-lg);
            padding: rem(15,$text-bp-lg);
            margin: rem(5,$text-bp-lg) rem(10,$text-bp-lg);
            width: rem(150,$text-bp-lg);
        }
        transition:all 0.3s;

    }
    a:hover {
        background-color: #000;
        color: #fff;
    }
}

.page-body, .page-info-body {
        
    color: #000;
    background-color: #fff;
    
    padding: rem(30,$text-bp-sm);

    @include bp-medium {
        padding: rem(30,$text-bp-md);
    }

    @include bp-large {
        padding: rem(50,$text-bp-lg);
    } 
}

.page-body {
    vertical-align: middle;
    text-align: center;
    color: #000;
    background-color: #fff;
    
}

.page-info-body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


.page-sec-title {
    font-family: $title-font;
    text-align: center;
    text-transform: uppercase;

    width: 100%;

    font-size: rem(60,$text-bp-sm);
    line-height: rem(72,$text-bp-sm);
    letter-spacing: rem(2,$text-bp-sm);
    padding: rem(20,$text-bp-sm) 0;

     @include bp-medium {
        font-size: rem(48,$text-bp-md);
        line-height: rem(58,$text-bp-md);
        letter-spacing: rem(2,$text-bp-md);
        padding: rem(16,$text-bp-md);
      }

    @include bp-large {
        font-size: rem(60,$text-bp-lg);
        line-height: rem(80,$text-bp-lg);
        letter-spacing: rem(2,$text-bp-lg);
        padding: rem(20,$text-bp-lg) 0 rem(10,$text-bp-lg) 0 ;
    }
    a {
        display: block;
        color: #fff;
        background-color: #000;

        transition:all 0.3s;
    }
     a:hover {
        color: #000;
        background-color: #fff;
    }
    
}

.page-share {
    text-align: center;
    margin: rem(5,$text-bp-sm) 0;

    @include bp-medium {
        margin: rem(5,$text-bp-md) 0;
    }

    @include bp-large {
        margin: rem(5,$text-bp-lg) 0;
    } 
}
.page-social-btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    background-color: #000;
    font-size: rem(55,$text-bp-sm);
    padding: rem(10,$text-bp-sm) rem(10,$text-bp-sm);

    @include bp-medium {
        font-size: rem(22,$text-bp-md);
        padding: rem(8,$text-bp-md) rem(8,$text-bp-md);
    }

    @include bp-large {
        font-size: rem(27,$text-bp-lg);
        padding: rem(10,$text-bp-lg) rem(10,$text-bp-lg);
    }
}

.page-row {
    text-align: center;
    background-color: #000;
}
.gallery-img {
    display: inline-block;
    vertical-align: top;    
    cursor: pointer;
}


#post-overlay {
    background-color: #000;
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 1009;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;  
}

.post-content {
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 1010;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;
}

.post-img {

    position: absolute;
    vertical-align: middle;
    text-align: center;

    width: 90vw;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    

    @include bp-medium {
        width: rem(1270,$text-bp-md);
    }

    @include bp-large {

    }
}

.post-img-tall {

    position: absolute;
    vertical-align: middle;
    text-align: center;

    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 90vh;

    @include bp-medium {
        
    }

    @include bp-large {
        

    }
    img {
        width:auto;
        height:100%;
    }
}



.right-arrow, .left-arrow, .post-close{
    color: #fff;
    opacity: .4;
    cursor: pointer;
    position: fixed;
   
    font-size: rem(50,$text-bp-sm);
    @include bp-medium {
        font-size: rem(50,$text-bp-md);
    }

    @include bp-large {
        font-size: rem(60,$text-bp-lg);
    }
    transition:all 0.3s;
}

.right-arrow:hover, .left-arrow:hover, .post-close:hover {
    opacity: .8;
}

.right-arrow {
    display: none;
    bottom: rem(30,$text-bp-sm);
    right: rem(200,$text-bp-sm);

    @include bp-medium {
        display: block;
        bottom: 50%;
        right: rem(30,$text-bp-md);
    }

    @include bp-large {
        display: block;
        bottom: 50%;
        right: rem(30,$text-bp-lg);
    }

}
.left-arrow {
    display: none;
    bottom: rem(30,$text-bp-sm);
    left: rem(200,$text-bp-sm);
    
    @include bp-medium {
        display: block;
        bottom: 50%;
        left: rem(30,$text-bp-md);
    }

    @include bp-large {
        display: block;
        bottom: 50%;
        left: rem(30,$text-bp-lg);
    }
}

.post-close {

    top: rem(30,$text-bp-sm);
    right: rem(30,$text-bp-sm);

    @include bp-medium {
        top: rem(30,$text-bp-md);
        right: rem(30,$text-bp-md);
    }

    @include bp-large {
        
        top: rem(30,$text-bp-lg);
        right: rem(30,$text-bp-lg);
    }

    transition:all 0.3s;
}


