/**
 * Import SASS 
 * Combining files into one, adds them in sequence
 */
/**
 * Global Variables
 */
/* Breakpoint Screen Sizes */
/* Breakpoint Font Root Sizes */
/* Colors */
/* Official Social Media Colors */
/* Fonts */
/**
 * Mixins
 */
/**
 * Media Queries
 */
/**
 * hoverTouch.js implementation
 */
/**
 * Convert pixel sizes to REM
 * @arg  {string}  $pixels  The pixel size to convert to REM
 * @arg  {string}  $root    The root size to convert by
 * @return  {string}  the calculated REM size
 */
/**
 * Convert pixel sizes to VW
 * @arg  {string}  $pixels  The pixel size to convert to REM
 * @arg  {string}  $width   The width to convert by
 * @return  {string}  the calculated VW size
 */
/**
 * Custom Scrollbar Styling
 * @param  {integer} $size       Enter in the increments for size of the scrollbar
 *                               EX: ".5em"
 * @param  {string}  $primary    Enter in the color desired for the primary color
 * @param  {string}  $secondary  Enter in the color desired for the secondary color
 */
/**
 * Imports
 * Add external files into combined sass file
 */
@font-face {
  font-family: 'californiamedium';
  src: url("../fonts/California.ttf") format("ttf"), url("../fonts/california-webfont.woff2") format("woff2"), url("../fonts/california-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/**
 * Keyframe Animations
 */
@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden;
    z-index: -2; }
  1% {
    z-index: 3; }
  100% {
    opacity: 1;
    visibility: visible;
    z-index: 3; } }

@keyframes hide {
  0% {
    opacity: 1;
    visibility: visible;
    z-index: 3; }
  99% {
    z-index: 3; }
  100% {
    opacity: 0;
    visibility: hidden;
    z-index: -2; } }

@keyframes rotateClockwise {
  100% {
    transform: rotate(360deg); } }

/**
 * Global
 */
html, body {
  font-size: 16px; }
  @media only screen and (min-width: 320px) {
    html, body {
      font-size: 1.33333vw; } }
  @media only screen and (min-width: 751px) {
    html, body {
      font-size: 0.7874vw; } }
  @media only screen and (min-width: 1271px) {
    html, body {
      font-size: 0.625vw; } }

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Yanone Kaffeesatz", sans-serif;
  overflow-x: hidden;
  color: #fff;
  background-color: #000;
  font-size: 2.8rem;
  line-height: 3.6rem; }
  @media only screen and (min-width: 751px) {
    body {
      font-size: 1.9rem;
      line-height: 2.4rem; } }
  @media only screen and (min-width: 1271px) {
    body {
      font-size: 2.1rem;
      line-height: 2.8rem; } }

html {
  margin-top: 0 !important; }

#site {
  position: relative;
  width: 100vw;
  height: 100vh; }

#site-holder {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; }

#site-content {
  display: inline-block;
  width: 100vw;
  text-align: center; }

img {
  width: 100%;
  height: auto; }

h1, h2, h3 {
  margin: 0 !important;
  font-weight: normal; }

p {
  margin: 1rem 0; }
  @media only screen and (min-width: 751px) {
    p {
      margin: 1rem 0; } }
  @media only screen and (min-width: 1271px) {
    p {
      margin: 2rem 0; } }

a:link {
  color: #24293D;
  text-decoration: none; }

a:visited {
  color: #24293D;
  text-decoration: none; }

a:hover {
  color: #3A3F5D;
  text-decoration: none; }

a:active {
  color: #24293D;
  text-decoration: none; }

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px; }

#nav-logo {
  background-position: top center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: 75rem;
  height: 35rem; }
  @media only screen and (min-width: 751px) {
    #nav-logo {
      background-size: 100% auto;
      width: 127rem;
      height: 24rem; } }
  @media only screen and (min-width: 1271px) {
    #nav-logo {
      background-size: 100% auto;
      width: 160rem;
      height: 30rem; } }
  #nav-logo img {
    width: 100%;
    height: auto; }

#nav-btns {
  position: fixed;
  z-index: 1002;
  background-color: #000;
  display: none;
  opacity: 0;
  text-align: center;
  right: 0rem;
  top: 0rem;
  padding-top: 24rem;
  width: 100%;
  height: 100%; }
  @media only screen and (min-width: 751px) {
    #nav-btns {
      position: static;
      display: block;
      opacity: 1;
      right: 1.8rem;
      top: 1.8rem;
      padding-top: 0;
      width: auto;
      height: auto; } }
  @media only screen and (min-width: 1271px) {
    #nav-btns {
      position: static;
      display: block;
      opacity: 1;
      right: 0rem;
      top: 2.5rem;
      padding-top: 0;
      width: auto;
      height: auto; } }

#nav-btns-holder {
  display: inline-block;
  vertical-align: top; }

#social-btns-holder {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 100%;
  padding-top: 4rem; }
  @media only screen and (min-width: 751px) {
    #social-btns-holder {
      width: auto;
      padding-top: 0; } }
  @media only screen and (min-width: 1271px) {
    #social-btns-holder {
      width: auto;
      padding-top: 0; } }

.nav-btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: "californiamedium";
  color: #fff;
  background-color: #000;
  font-size: 6rem;
  letter-spacing: 0.1rem;
  padding: 3.6rem 0;
  width: 100vw; }
  @media only screen and (min-width: 751px) {
    .nav-btn {
      font-size: 1.9rem;
      letter-spacing: 0.1rem;
      padding: 1.6rem;
      width: auto; } }
  @media only screen and (min-width: 1271px) {
    .nav-btn {
      font-size: 3.6rem;
      letter-spacing: 0.1rem;
      padding: 2rem;
      width: auto; } }

.nav-btn:hover, .social-btn:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none; }

.social-btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  background-color: #000;
  font-size: 7rem;
  padding: 0 2.5rem; }
  @media only screen and (min-width: 751px) {
    .social-btn {
      font-size: 2.2rem;
      padding: 1.6rem 0.8rem; } }
  @media only screen and (min-width: 1271px) {
    .social-btn {
      font-size: 2.7rem;
      padding: 2rem 1rem; } }

#menu-btn {
  position: fixed;
  z-index: 1001;
  color: #FFF;
  background-color: #000;
  font-size: 4rem;
  padding: 4rem;
  visibility: visible;
  right: 1.8rem;
  top: 1.8rem; }
  @media only screen and (min-width: 751px) {
    #menu-btn {
      visibility: hidden;
      font-size: 1.8rem;
      padding: 0 1rem; } }
  @media only screen and (min-width: 1271px) {
    #menu-btn {
      visibility: hidden;
      font-size: 1.8rem;
      padding: 0 1rem; } }

#menu-btn-close {
  position: fixed;
  z-index: 1003;
  color: #fff;
  background-color: #000;
  font-size: 5.5rem;
  padding: 3rem;
  visibility: hidden;
  right: 1.8rem;
  top: 1.8rem; }
  @media only screen and (min-width: 751px) {
    #menu-btn-close {
      font-size: 1.8rem;
      padding: 0 1rem; } }
  @media only screen and (min-width: 1271px) {
    #menu-btn-close {
      font-size: 1.8rem;
      padding: 0 1rem; } }

.header-img {
  display: block;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100%;
  width: 75rem; }
  @media only screen and (min-width: 751px) {
    .header-img {
      background-size: 100% auto;
      width: 127rem; } }
  @media only screen and (min-width: 1271px) {
    .header-img {
      background-size: 100% auto;
      width: 160rem; } }

.header-img {
  height: 37.5rem; }
  @media only screen and (min-width: 751px) {
    .header-img {
      height: 48rem; } }
  @media only screen and (min-width: 1271px) {
    .header-img {
      height: 60rem; } }

.page-header {
  display: inline-block;
  background-color: #fff;
  color: #000;
  text-align: left;
  width: 100%; }

.page-info {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: #000; }

.page-poster {
  width: 20rem;
  margin: 3rem 3rem 1rem 3rem; }
  @media only screen and (min-width: 751px) {
    .page-poster {
      width: 15rem;
      margin: 3rem 3rem 1rem 3rem; } }
  @media only screen and (min-width: 1271px) {
    .page-poster {
      width: 15rem;
      margin: 3rem 5rem 1rem 5rem; } }

.page-links {
  text-align: center;
  margin-bottom: 2.5rem; }
  @media only screen and (min-width: 751px) {
    .page-links {
      margin-bottom: 2.5rem; } }
  @media only screen and (min-width: 1271px) {
    .page-links {
      margin-bottom: 2.5rem; } }
  .page-links a {
    display: inline-block;
    vertical-align: middle;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 700;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 2.8rem;
    line-height: 3.6rem;
    padding: 1rem;
    margin: 0.5rem 1rem;
    width: 18rem;
    transition: all 0.3s; }
    @media only screen and (min-width: 751px) {
      .page-links a {
        font-size: 1.4rem;
        line-height: 1.8rem;
        padding: 1.5rem;
        margin: 0.5rem 1rem;
        width: 13rem; } }
    @media only screen and (min-width: 1271px) {
      .page-links a {
        font-size: 2.1rem;
        line-height: 2.8rem;
        padding: 1.5rem;
        margin: 0.5rem 1rem;
        width: 15rem; } }
  .page-links a:hover {
    background-color: #000;
    color: #fff; }

.page-body, .page-info-body {
  color: #000;
  background-color: #fff;
  padding: 3rem; }
  @media only screen and (min-width: 751px) {
    .page-body, .page-info-body {
      padding: 3rem; } }
  @media only screen and (min-width: 1271px) {
    .page-body, .page-info-body {
      padding: 5rem; } }

.page-body {
  vertical-align: middle;
  text-align: center;
  color: #000;
  background-color: #fff; }

.page-info-body {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.page-sec-title {
  font-family: "californiamedium";
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-size: 6rem;
  line-height: 7.2rem;
  letter-spacing: 0.2rem;
  padding: 2rem 0; }
  @media only screen and (min-width: 751px) {
    .page-sec-title {
      font-size: 4.8rem;
      line-height: 5.8rem;
      letter-spacing: 0.2rem;
      padding: 1.6rem; } }
  @media only screen and (min-width: 1271px) {
    .page-sec-title {
      font-size: 6rem;
      line-height: 8rem;
      letter-spacing: 0.2rem;
      padding: 2rem 0 1rem 0; } }
  .page-sec-title a {
    display: block;
    color: #fff;
    background-color: #000;
    transition: all 0.3s; }
  .page-sec-title a:hover {
    color: #000;
    background-color: #fff; }

.page-share {
  text-align: center;
  margin: 0.5rem 0; }
  @media only screen and (min-width: 751px) {
    .page-share {
      margin: 0.5rem 0; } }
  @media only screen and (min-width: 1271px) {
    .page-share {
      margin: 0.5rem 0; } }

.page-social-btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  background-color: #000;
  font-size: 5.5rem;
  padding: 1rem 1rem; }
  @media only screen and (min-width: 751px) {
    .page-social-btn {
      font-size: 2.2rem;
      padding: 0.8rem 0.8rem; } }
  @media only screen and (min-width: 1271px) {
    .page-social-btn {
      font-size: 2.7rem;
      padding: 1rem 1rem; } }

.page-row {
  text-align: center;
  background-color: #000; }

.gallery-img {
  display: inline-block;
  vertical-align: top;
  cursor: pointer; }

.page-thumb {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 1rem; }
  @media only screen and (min-width: 751px) {
    .page-thumb {
      margin: 1rem; } }
  @media only screen and (min-width: 1271px) {
    .page-thumb {
      margin: 1rem; } }
  .page-thumb.sm {
    text-align: center;
    width: 35rem;
    height: auto; }
    @media only screen and (min-width: 751px) {
      .page-thumb.sm {
        width: 14.6rem;
        height: 14.6rem; } }
    @media only screen and (min-width: 1271px) {
      .page-thumb.sm {
        width: 18.5rem; } }
  .page-thumb.tall {
    text-align: center;
    width: 35rem;
    height: auto; }
    @media only screen and (min-width: 751px) {
      .page-thumb.tall {
        width: 14.6rem; } }
    @media only screen and (min-width: 1271px) {
      .page-thumb.tall {
        width: 18.5rem; } }
  .page-thumb.vert {
    text-align: center;
    width: 73rem;
    height: auto; }
    @media only screen and (min-width: 751px) {
      .page-thumb.vert {
        width: 29.25rem; } }
    @media only screen and (min-width: 1271px) {
      .page-thumb.vert {
        width: 37.5rem; } }
  .page-thumb.horz {
    text-align: center;
    width: 73rem;
    height: auto; }
    @media only screen and (min-width: 751px) {
      .page-thumb.horz {
        text-align: left;
        width: 59rem; } }
    @media only screen and (min-width: 1271px) {
      .page-thumb.horz {
        text-align: left;
        width: 75.5rem; } }

.page-thumb .img {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden; }
  .page-thumb .img.rect {
    width: 75rem;
    height: 37.5rem; }
    @media only screen and (min-width: 751px) {
      .page-thumb .img.rect {
        width: 31.25rem;
        height: 15.875rem; } }
    @media only screen and (min-width: 1271px) {
      .page-thumb .img.rect {
        width: 38.5rem;
        height: 20rem; } }
  .page-thumb .img.sq {
    width: 75rem;
    height: 75rem; }
    @media only screen and (min-width: 751px) {
      .page-thumb .img.sq {
        width: 31.25rem;
        height: 31.25rem; } }
    @media only screen and (min-width: 1271px) {
      .page-thumb .img.sq {
        width: 37.5rem;
        height: 37.5rem; } }
  .page-thumb .img.sqSm {
    width: 25rem;
    height: 25rem; }
    @media only screen and (min-width: 751px) {
      .page-thumb .img.sqSm {
        width: 16rem;
        height: 16rem; } }
    @media only screen and (min-width: 1271px) {
      .page-thumb .img.sqSm {
        width: 19rem;
        height: 19rem; } }
  .page-thumb .img.tall {
    width: 37.5rem;
    height: 72.5rem; }
    @media only screen and (min-width: 751px) {
      .page-thumb .img.tall {
        width: 16rem;
        height: 31.25rem; } }
    @media only screen and (min-width: 1271px) {
      .page-thumb .img.tall {
        width: 19.5rem;
        height: 38.5rem; } }

.page-thumb .info {
  display: inline-block;
  vertical-align: middle;
  width: 75rem; }
  @media only screen and (min-width: 751px) {
    .page-thumb .info {
      width: 27.5rem; } }
  @media only screen and (min-width: 1271px) {
    .page-thumb .info {
      width: 36.5rem; } }

.page-thumb .title {
  font-family: "californiamedium";
  color: #fff;
  background-color: #000;
  font-size: 4rem;
  line-height: 4.8rem;
  padding: 3rem 5rem; }
  @media only screen and (min-width: 751px) {
    .page-thumb .title {
      font-size: 2.8rem;
      line-height: 3.6rem;
      padding: 0.8rem 1.6rem; } }
  @media only screen and (min-width: 1271px) {
    .page-thumb .title {
      font-size: 3.6rem;
      line-height: 4.4rem;
      padding: 1rem 2rem; } }

.page-thumb .date {
  color: #fff;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 1rem; }
  @media only screen and (min-width: 751px) {
    .page-thumb .date {
      font-size: 1.8rem;
      line-height: 2.4rem;
      padding-top: 0.8rem; } }
  @media only screen and (min-width: 1271px) {
    .page-thumb .date {
      font-size: 1.8rem;
      line-height: 2.4rem;
      padding-top: 1rem; } }

.page-thumb .time {
  color: #fff;
  font-family: 'Domine', serif;
  font-size: 3rem;
  line-height: 4.8rem; }
  @media only screen and (min-width: 751px) {
    .page-thumb .time {
      font-size: 1.6rem;
      line-height: 2.1rem; } }
  @media only screen and (min-width: 1271px) {
    .page-thumb .time {
      font-size: 1.6rem;
      line-height: 2.8rem; } }

.page-thumb .body, .post .body {
  color: #fff;
  background-color: #000;
  padding: 0 4rem 4rem 4rem; }
  @media only screen and (min-width: 751px) {
    .page-thumb .body, .post .body {
      padding: 0 1.6rem 1.6rem 1.6rem; } }
  @media only screen and (min-width: 1271px) {
    .page-thumb .body, .post .body {
      padding: 0 2rem 2rem 2rem; } }

.post-header-img {
  display: inline-block;
  max-width: 75rem; }
  @media only screen and (min-width: 751px) {
    .post-header-img {
      max-width: 63.5rem; } }
  @media only screen and (min-width: 1271px) {
    .post-header-img {
      max-width: 80rem; } }
  .post-header-img img {
    width: 100%;
    height: auto; }

#post-overlay {
  background-color: #000;
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 1009;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; }

.post-content {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 1010;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center; }

.post-img {
  position: absolute;
  vertical-align: middle;
  text-align: center;
  width: 90vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media only screen and (min-width: 751px) {
    .post-img {
      width: 127rem; } }

.post-img-tall {
  position: absolute;
  vertical-align: middle;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh; }
  .post-img-tall img {
    width: auto;
    height: 100%; }

.right-arrow, .left-arrow, .post-close {
  color: #fff;
  opacity: .4;
  cursor: pointer;
  position: fixed;
  font-size: 5rem;
  transition: all 0.3s; }
  @media only screen and (min-width: 751px) {
    .right-arrow, .left-arrow, .post-close {
      font-size: 5rem; } }
  @media only screen and (min-width: 1271px) {
    .right-arrow, .left-arrow, .post-close {
      font-size: 6rem; } }

.right-arrow:hover, .left-arrow:hover, .post-close:hover {
  opacity: .8; }

.right-arrow {
  display: none;
  bottom: 3rem;
  right: 20rem; }
  @media only screen and (min-width: 751px) {
    .right-arrow {
      display: block;
      bottom: 50%;
      right: 3rem; } }
  @media only screen and (min-width: 1271px) {
    .right-arrow {
      display: block;
      bottom: 50%;
      right: 3rem; } }

.left-arrow {
  display: none;
  bottom: 3rem;
  left: 20rem; }
  @media only screen and (min-width: 751px) {
    .left-arrow {
      display: block;
      bottom: 50%;
      left: 3rem; } }
  @media only screen and (min-width: 1271px) {
    .left-arrow {
      display: block;
      bottom: 50%;
      left: 3rem; } }

.post-close {
  top: 3rem;
  right: 3rem;
  transition: all 0.3s; }
  @media only screen and (min-width: 751px) {
    .post-close {
      top: 3rem;
      right: 3rem; } }
  @media only screen and (min-width: 1271px) {
    .post-close {
      top: 3rem;
      right: 3rem; } }

.videos {
  cursor: pointer; }

#video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1005;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0; }

#video-overlay-close {
  cursor: pointer;
  color: #fff;
  font-family: 'Khula', sans-serif;
  font-weight: 800;
  top: 3rem;
  right: 3rem;
  font-size: 8rem;
  position: absolute; }
  @media only screen and (min-width: 751px) {
    #video-overlay-close {
      top: 3rem;
      right: 3rem;
      font-size: 5rem; } }
  @media only screen and (min-width: 1271px) {
    #video-overlay-close {
      top: 3rem;
      right: 3rem;
      font-size: 5rem; } }

.video-player-holder {
  width: 100vw;
  height: 100vh; }

.video-player {
  position: absolute;
  vertical-align: middle;
  text-align: center;
  width: 70rem;
  height: 39.375rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media only screen and (min-width: 751px) {
    .video-player {
      width: 100rem;
      height: 56.25rem; } }
  @media only screen and (min-width: 1271px) {
    .video-player {
      width: 100rem;
      height: 56.25rem; } }

#footer {
  font-family: 'Khula', sans-serif;
  font-weight: 400;
  width: 100vw;
  color: #fff;
  text-align: center;
  background-color: #000;
  padding: 2rem 0;
  font-size: 1.8rem; }
  @media only screen and (min-width: 751px) {
    #footer {
      padding: 2rem 0;
      font-size: 1.2rem; } }
  @media only screen and (min-width: 1271px) {
    #footer {
      padding: 2rem 0;
      font-size: 1.2rem; } }

#footer a:link {
  color: #b6b6b6;
  text-decoration: none; }
  @media only screen and (min-width: 751px) {
    #footer a:link {
      color: #b6b6b6; } }
  @media only screen and (min-width: 1271px) {
    #footer a:link {
      color: #b6b6b6; } }

#footer a:visited {
  color: #b6b6b6;
  text-decoration: none; }
  @media only screen and (min-width: 751px) {
    #footer a:visited {
      color: #b6b6b6; } }
  @media only screen and (min-width: 1271px) {
    #footer a:visited {
      color: #b6b6b6; } }

#footer a:hover {
  color: #FFF;
  text-decoration: underline; }
  @media only screen and (min-width: 751px) {
    #footer a:hover {
      color: #FFF; } }
  @media only screen and (min-width: 1271px) {
    #footer a:hover {
      color: #FFF; } }

#footer a:active {
  color: #b6b6b6;
  text-decoration: none; }
  @media only screen and (min-width: 751px) {
    #footer a:active {
      color: #b6b6b6; } }
  @media only screen and (min-width: 1271px) {
    #footer a:active {
      color: #b6b6b6; } }
